h1,
h2,
h3 {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("Acumin-RPro.woff") format("woff");
  color: #535353;
}

html,
.hero {
  /* background-color: #18191d; */
  background-color: #fff;
}

/* hero main page */
.hero h1 {
  margin-top: 15px !important;
  font-size: 30px !important;
  color: #535353;
  opacity: 90%;
}
.hero {
  /* background-image: url(hero2.png); */
  background-repeat: no-repeat;
  background-size: cover;

  height: 85vh;
}

p span {
  font-family: monospace;
  display: table;
  color: #535353;
  opacity: 20%;
  font-size: 20px;
}
.hero h2 {
  margin-top: 200px !important;
}

/* portfolio section */

/* .portfolio-section {
  background-color: black;
} */
