h1,
h2,
h3 {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("Acumin-RPro.woff") format("woff");
  color: #535353;
}

html,
.hero {
  /* background-color: #18191d; */
  background-color: #fff;
}

/* navbar */

.hero .heading {
  margin-top: 15px !important;
  font-size: 30px !important;
  color: #535353 !important;
  opacity: 90%;
  margin: 0 auto !important;
  align-content: center !important;
}

.hero .header {
  font-size: 30px !important;
  color: #535353 !important;
  opacity: 90%;
  font-family: "Acumin Pro" !important;
  letter-spacing: 1px;
}
.dropdown-menu {
  font-size: 15px !important;
  color: #535353 !important;
  opacity: 90%;
  font-family: "Acumin Pro" !important;
  letter-spacing: 1px;
  border: none !important;
}
.dropdown-menu .dropdown-item {
  background-color: transparent !important;
}
.dropdown-menu .dropdown-item:hover {
  color: #535353 !important;
  opacity: 70%;
}

/* hero main page */
.hero {
  /* background-image: url(hero2.png); */
  background-repeat: no-repeat;
  background-size: cover;

  height: 85vh;
}

p span {
  font-family: monospace;
  display: table;
  color: #535353;
  opacity: 20%;
  font-size: 20px;
}
.hero h2 {
  margin-top: 200px !important;
}

/* portfolio section */

/* .portfolio-section {
  background-color: black;
} */
