h1,
h2,
h3 {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("Acumin-RPro.woff") format("woff");
  color: #535353;
}

html,
.hero {
  /* background-color: #18191d; */
  background-color: #fff;
}

/* navbar */
.navbar {
  background-color: #fff !important;
}

.hero .heading {
  margin-top: 10px !important;
  color: #535353 !important;
  opacity: 90%;
  margin: 0 auto !important;
  align-content: center !important;
}

.hero .header {
  font-size: 16px !important;
  color: #535353 !important;
  opacity: 90%;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}
.dropdown-menu {
  font-size: 12px !important;
  color: #535353 !important;
  opacity: 90%;
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 1px;
  border: none !important;
  background-color: transparent !important;
}
.dropdown-menu .dropdown-item {
  background-color: transparent !important;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  color: #535353 !important;
  opacity: 90%;
}
.dropdown-menu .dropdown-item:hover {
  color: #535353 !important;
  opacity: 70%;
}

/* hero main page */
.hero {
  background-image: url(images/IMG_0004.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

p span {
  font-family: monospace;
  display: table;
  color: white;
  opacity: 8%;
  font-size: 18px;
}

.hero h2 {
  margin-top: 200px !important;
}

/* portfolio section */
.first-carousel img {
  width: 70% !important;
}
.second-carousel img {
  width: 70% !important;
}
.third-carousel img {
  width: 70% !important;
}
.forth-carousel img {
  width: 70% !important;
}

/* .portfolio-section {
  background-color: black;
} */

/* contact page */
.contact {
  font-family: "Open Sans", sans-serif;
}

.contact .header {
  font-size: 16px !important;
  color: #535353 !important;
  opacity: 90%;
  /* font-family: "Acumin Pro" !important; */
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}
.contact .heading {
  margin-top: 10px !important;
  color: #535353 !important;
  opacity: 90%;
  margin: 0 auto !important;
  align-content: center !important;
}

.contact p {
  font-family: "Open Sans", sans-serif !important;
  font-weight: lighter;
  color: #535353 !important;
  opacity: 90%;
  font-size: 12px;
}
.contact .email {
  font-family: "Open Sans", sans-serif !important;
  font-weight: lighter;
  color: #535353 !important;
  opacity: 90%;
  font-size: 12px;
  text-decoration: none;
}

@media (max-width: 500px) {
  p span {
    font-family: monospace;
    display: table;
    color: #535353;
    opacity: 20%;
    font-size: 14px;
  }
}
